.wp-block-button__link {
    color: #fff;
    background-color: #32373c;
    border-radius: 9999px;
    box-shadow: none;
    text-decoration: none;
    padding: calc(.667em + 2px) calc(1.333em + 2px);
    font-size: 1.125em
}

body {
    --preset--color--black: #000000;
    --preset--color--cyan-bluish-gray: #abb8c3;
    --preset--color--white: #ffffff;
    --preset--color--pale-pink: #f78da7;
    --preset--color--vivid-red: #cf2e2e;
    --preset--color--luminous-vivid-orange: #ff6900;
    --preset--color--luminous-vivid-amber: #fcb900;
    --preset--color--light-green-cyan: #7bdcb5;
    --preset--color--vivid-green-cyan: #00d084;
    --preset--color--pale-cyan-blue: #8ed1fc;
    --preset--color--vivid-cyan-blue: #0693e3;
    --preset--color--vivid-purple: #9b51e0;
    --preset--color--primary-1: #5B53EB;
    --preset--color--primary-2: #4D74FB;
    --preset--color--primary-3: #F7978F;
    --preset--color--primary-4: #00C6FF;
    --preset--color--primary-5: #090078;
    --preset--color--primary-6: #AFB8BD;
    --preset--color--green: #6ECA09;
    --preset--color--red: #D0021B;
    --preset--color--orange: #FAB901;
    --preset--color--aqua: #28d2dc;
    --preset--color--blue: #71CCF6;
    --preset--color--purple: #7639e2;
    --preset--color--grey: #ECEFF4;
    --preset--color--dark-grey: #1D2024;
    --preset--color--light-grey: #F6F7FA;
    --preset--gradient--vivid-cyan-blue-to-vivid-purple: linear-gradient(135deg, rgba(6, 147, 227, 1) 0%, rgb(155, 81, 224) 100%);
    --preset--gradient--light-green-cyan-to-vivid-green-cyan: linear-gradient(135deg, rgb(122, 220, 180) 0%, rgb(0, 208, 130) 100%);
    --preset--gradient--luminous-vivid-amber-to-luminous-vivid-orange: linear-gradient(135deg, rgba(252, 185, 0, 1) 0%, rgba(255, 105, 0, 1) 100%);
    --preset--gradient--luminous-vivid-orange-to-vivid-red: linear-gradient(135deg, rgba(255, 105, 0, 1) 0%, rgb(207, 46, 46) 100%);
    --preset--gradient--very-light-gray-to-cyan-bluish-gray: linear-gradient(135deg, rgb(238, 238, 238) 0%, rgb(169, 184, 195) 100%);
    --preset--gradient--cool-to-warm-spectrum: linear-gradient(135deg, rgb(74, 234, 220) 0%, rgb(151, 120, 209) 20%, rgb(207, 42, 186) 40%, rgb(238, 44, 130) 60%, rgb(251, 105, 98) 80%, rgb(254, 248, 76) 100%);
    --preset--gradient--blush-light-purple: linear-gradient(135deg, rgb(255, 206, 236) 0%, rgb(152, 150, 240) 100%);
    --preset--gradient--blush-bordeaux: linear-gradient(135deg, rgb(254, 205, 165) 0%, rgb(254, 45, 45) 50%, rgb(107, 0, 62) 100%);
    --preset--gradient--luminous-dusk: linear-gradient(135deg, rgb(255, 203, 112) 0%, rgb(199, 81, 192) 50%, rgb(65, 88, 208) 100%);
    --preset--gradient--pale-ocean: linear-gradient(135deg, rgb(255, 245, 203) 0%, rgb(182, 227, 212) 50%, rgb(51, 167, 181) 100%);
    --preset--gradient--electric-grass: linear-gradient(135deg, rgb(202, 248, 128) 0%, rgb(113, 206, 126) 100%);
    --preset--gradient--midnight: linear-gradient(135deg, rgb(2, 3, 129) 0%, rgb(40, 116, 252) 100%);
    --preset--duotone--dark-grayscale: url('#wp-duotone-dark-grayscale');
    --preset--duotone--grayscale: url('#wp-duotone-grayscale');
    --preset--duotone--purple-yellow: url('#wp-duotone-purple-yellow');
    --preset--duotone--blue-red: url('#wp-duotone-blue-red');
    --preset--duotone--midnight: url('#wp-duotone-midnight');
    --preset--duotone--magenta-yellow: url('#wp-duotone-magenta-yellow');
    --preset--duotone--purple-green: url('#wp-duotone-purple-green');
    --preset--duotone--blue-orange: url('#wp-duotone-blue-orange');
    --preset--font-size--small: 13px;
    --preset--font-size--medium: 20px;
    --preset--font-size--large: 36px;
    --preset--font-size--x-large: 42px;
    --preset--spacing--20: 0.44rem;
    --preset--spacing--30: 0.67rem;
    --preset--spacing--40: 1rem;
    --preset--spacing--50: 1.5rem;
    --preset--spacing--60: 2.25rem;
    --preset--spacing--70: 3.38rem;
    --preset--spacing--80: 5.06rem;
}

:where(.is-layout-flex) {
    gap: 0.5em;
}

body .is-layout-flow>.alignleft {
    float: left;
    margin-inline-start: 0;
    margin-inline-end: 2em;
}

body .is-layout-flow>.alignright {
    float: right;
    margin-inline-start: 2em;
    margin-inline-end: 0;
}

body .is-layout-flow>.aligncenter {
    margin-left: auto !important;
    margin-right: auto !important;
}

body .is-layout-constrained>.alignleft {
    float: left;
    margin-inline-start: 0;
    margin-inline-end: 2em;
}

body .is-layout-constrained>.alignright {
    float: right;
    margin-inline-start: 2em;
    margin-inline-end: 0;
}

body .is-layout-constrained>.aligncenter {
    margin-left: auto !important;
    margin-right: auto !important;
}

body .is-layout-constrained> :where(:not(.alignleft):not(.alignright):not(.alignfull)) {
    max-width: var(--wp--style--global--content-size);
    margin-left: auto !important;
    margin-right: auto !important;
}

body .is-layout-constrained>.alignwide {
    max-width: var(--wp--style--global--wide-size);
}

body .is-layout-flex {
    display: flex;
}

body .is-layout-flex {
    flex-wrap: wrap;
    align-items: center;
}

body .is-layout-flex>* {
    margin: 0;
}

:where(.wp-block-columns.is-layout-flex) {
    gap: 2em;
}

.has-black-color {
    color: var(--preset--color--black) !important;
}

.has-cyan-bluish-gray-color {
    color: var(--preset--color--cyan-bluish-gray) !important;
}

.has-white-color {
    color: var(--preset--color--white) !important;
}

.has-pale-pink-color {
    color: var(--preset--color--pale-pink) !important;
}

.has-vivid-red-color {
    color: var(--preset--color--vivid-red) !important;
}

.has-luminous-vivid-orange-color {
    color: var(--preset--color--luminous-vivid-orange) !important;
}

.has-luminous-vivid-amber-color {
    color: var(--preset--color--luminous-vivid-amber) !important;
}

.has-light-green-cyan-color {
    color: var(--preset--color--light-green-cyan) !important;
}

.has-vivid-green-cyan-color {
    color: var(--preset--color--vivid-green-cyan) !important;
}

.has-pale-cyan-blue-color {
    color: var(--preset--color--pale-cyan-blue) !important;
}

.has-vivid-cyan-blue-color {
    color: var(--preset--color--vivid-cyan-blue) !important;
}

.has-vivid-purple-color {
    color: var(--preset--color--vivid-purple) !important;
}

.has-black-background-color {
    background-color: var(--preset--color--black) !important;
}

.has-cyan-bluish-gray-background-color {
    background-color: var(--preset--color--cyan-bluish-gray) !important;
}

.has-white-background-color {
    background-color: var(--preset--color--white) !important;
}

.has-pale-pink-background-color {
    background-color: var(--preset--color--pale-pink) !important;
}

.has-vivid-red-background-color {
    background-color: var(--preset--color--vivid-red) !important;
}

.has-luminous-vivid-orange-background-color {
    background-color: var(--preset--color--luminous-vivid-orange) !important;
}

.has-luminous-vivid-amber-background-color {
    background-color: var(--preset--color--luminous-vivid-amber) !important;
}

.has-light-green-cyan-background-color {
    background-color: var(--preset--color--light-green-cyan) !important;
}

.has-vivid-green-cyan-background-color {
    background-color: var(--preset--color--vivid-green-cyan) !important;
}

.has-pale-cyan-blue-background-color {
    background-color: var(--preset--color--pale-cyan-blue) !important;
}

.has-vivid-cyan-blue-background-color {
    background-color: var(--preset--color--vivid-cyan-blue) !important;
}

.has-vivid-purple-background-color {
    background-color: var(--preset--color--vivid-purple) !important;
}

.has-black-border-color {
    border-color: var(--preset--color--black) !important;
}

.has-cyan-bluish-gray-border-color {
    border-color: var(--preset--color--cyan-bluish-gray) !important;
}

.has-white-border-color {
    border-color: var(--preset--color--white) !important;
}

.has-pale-pink-border-color {
    border-color: var(--preset--color--pale-pink) !important;
}

.has-vivid-red-border-color {
    border-color: var(--preset--color--vivid-red) !important;
}

.has-luminous-vivid-orange-border-color {
    border-color: var(--preset--color--luminous-vivid-orange) !important;
}

.has-luminous-vivid-amber-border-color {
    border-color: var(--preset--color--luminous-vivid-amber) !important;
}

.has-light-green-cyan-border-color {
    border-color: var(--preset--color--light-green-cyan) !important;
}

.has-vivid-green-cyan-border-color {
    border-color: var(--preset--color--vivid-green-cyan) !important;
}

.has-pale-cyan-blue-border-color {
    border-color: var(--preset--color--pale-cyan-blue) !important;
}

.has-vivid-cyan-blue-border-color {
    border-color: var(--preset--color--vivid-cyan-blue) !important;
}

.has-vivid-purple-border-color {
    border-color: var(--preset--color--vivid-purple) !important;
}

.has-vivid-cyan-blue-to-vivid-purple-gradient-background {
    background: var(--preset--gradient--vivid-cyan-blue-to-vivid-purple) !important;
}

.has-light-green-cyan-to-vivid-green-cyan-gradient-background {
    background: var(--preset--gradient--light-green-cyan-to-vivid-green-cyan) !important;
}

.has-luminous-vivid-amber-to-luminous-vivid-orange-gradient-background {
    background: var(--preset--gradient--luminous-vivid-amber-to-luminous-vivid-orange) !important;
}

.has-luminous-vivid-orange-to-vivid-red-gradient-background {
    background: var(--preset--gradient--luminous-vivid-orange-to-vivid-red) !important;
}

.has-very-light-gray-to-cyan-bluish-gray-gradient-background {
    background: var(--preset--gradient--very-light-gray-to-cyan-bluish-gray) !important;
}

.has-cool-to-warm-spectrum-gradient-background {
    background: var(--preset--gradient--cool-to-warm-spectrum) !important;
}

.has-blush-light-purple-gradient-background {
    background: var(--preset--gradient--blush-light-purple) !important;
}

.has-blush-bordeaux-gradient-background {
    background: var(--preset--gradient--blush-bordeaux) !important;
}

.has-luminous-dusk-gradient-background {
    background: var(--preset--gradient--luminous-dusk) !important;
}

.has-pale-ocean-gradient-background {
    background: var(--preset--gradient--pale-ocean) !important;
}

.has-electric-grass-gradient-background {
    background: var(--preset--gradient--electric-grass) !important;
}

.has-midnight-gradient-background {
    background: var(--preset--gradient--midnight) !important;
}

.has-small-font-size {
    font-size: var(--preset--font-size--small) !important;
}

.has-medium-font-size {
    font-size: var(--preset--font-size--medium) !important;
}

.has-large-font-size {
    font-size: var(--preset--font-size--large) !important;
}

.has-x-large-font-size {
    font-size: var(--preset--font-size--x-large) !important;
}

.wp-block-navigation a:where(:not(.wp-element-button)) {
    color: inherit;
}

:where(.wp-block-columns.is-layout-flex) {
    gap: 2em;
}

.wp-block-pullquote {
    font-size: 1.5em;
    line-height: 1.6;
}


.grve-wpb-1632809885071 .grve-column-wrapper {
    padding-top: 30px !important;
    padding-right: 30px !important;
    padding-bottom: 48px !important;
    padding-left: 30px !important;
}

.grve-wpb-1632830053741 .grve-column-wrapper {
    padding-top: 30px !important;
    padding-right: 30px !important;
    padding-bottom: 30px !important;
    padding-left: 30px !important;
}

.grve-wpb-1614281160160 .grve-column-wrapper-inner {
    border-top-width: 1px !important;
    border-left-width: 1px !important;
    padding-top: 20% !important;
    padding-right: 10% !important;
    padding-bottom: 20% !important;
    padding-left: 10% !important;
    border-color: #5b53eb38 !important;
    border-style: solid !important;
}

@media only screen and (max-width:767px) {
    .grve-wpb-1614281160160 .grve-column-wrapper-inner {
        border-top-width: 1px !important;
        border-right-width: 1px !important;
        border-left-width: 1px !important;
    }
}

.grve-wpb-1614281555545 .grve-column-wrapper-inner {
    border-top-width: 1px !important;
    border-left-width: 1px !important;
    padding-top: 20% !important;
    padding-right: 10% !important;
    padding-bottom: 20% !important;
    padding-left: 10% !important;
    border-color: #5b53eb38 !important;
    border-style: solid !important;
}

@media only screen and (max-width:959px) {
    .grve-wpb-1614281555545 .grve-column-wrapper-inner {
        border-right-width: 1px !important;
    }
}

@media only screen and (max-width:767px) {
    .grve-wpb-1614281555545 .grve-column-wrapper-inner {
        border-top-width: 1px !important;
        border-right-width: 1px !important;
        border-left-width: 1px !important;
    }
}

.grve-wpb-1614281580574 .grve-column-wrapper-inner {
    border-top-width: 1px !important;
    border-left-width: 1px !important;
    padding-top: 20% !important;
    padding-right: 10% !important;
    padding-bottom: 20% !important;
    padding-left: 10% !important;
    border-color: #5b53eb38 !important;
    border-style: solid !important;
}

@media only screen and (max-width:1200px) {
    .grve-wpb-1614281580574 .grve-column-wrapper-inner {
        border-top-width: 1px !important;
        border-right-width: 1px !important;
        border-left-width: 1px !important;
    }
}

@media only screen and (max-width:959px) {
    .grve-wpb-1614281580574 .grve-column-wrapper-inner {
        border-right-width: 0px !important;
    }
}

@media only screen and (max-width:767px) {
    .grve-wpb-1614281580574 .grve-column-wrapper-inner {
        border-top-width: 1px !important;
        border-right-width: 1px !important;
        border-left-width: 1px !important;
    }
}

.grve-wpb-1614281586685 .grve-column-wrapper-inner {
    border-top-width: 1px !important;
    border-right-width: 1px !important;
    border-left-width: 1px !important;
    padding-top: 20% !important;
    padding-right: 10% !important;
    padding-bottom: 20% !important;
    padding-left: 10% !important;
    border-color: #5b53eb38 !important;
    border-style: solid !important;
}

@media only screen and (max-width:1200px) {
    .grve-wpb-1614281586685 .grve-column-wrapper-inner {
        border-right-width: 0px !important;
    }
}

@media only screen and (max-width:959px) {
    .grve-wpb-1614281586685 .grve-column-wrapper-inner {
        border-right-width: 1px !important;
    }
}

@media only screen and (max-width:767px) {
    .grve-wpb-1614281586685 .grve-column-wrapper-inner {
        border-top-width: 1px !important;
        border-right-width: 1px !important;
        border-left-width: 1px !important;
    }
}

.grve-wpb-1614281209592 .grve-column-wrapper-inner {
    border-top-width: 1px !important;
    border-left-width: 1px !important;
    padding-top: 20% !important;
    padding-right: 10% !important;
    padding-bottom: 20% !important;
    padding-left: 10% !important;
    border-color: #5b53eb38 !important;
    border-style: solid !important;
}

@media only screen and (max-width:767px) {
    .grve-wpb-1614281209592 .grve-column-wrapper-inner {
        border-top-width: 1px !important;
        border-right-width: 1px !important;
        border-left-width: 1px !important;
    }
}

.grve-wpb-1614281379408 .grve-column-wrapper-inner {
    border-top-width: 1px !important;
    border-left-width: 1px !important;
    padding-top: 20% !important;
    padding-right: 10% !important;
    padding-bottom: 20% !important;
    padding-left: 10% !important;
    border-color: #5b53eb38 !important;
    border-style: solid !important;
}

@media only screen and (max-width:1200px) {
    .grve-wpb-1614281379408 .grve-column-wrapper-inner {
        border-right-width: 1px !important;
    }
}

@media only screen and (max-width:767px) {
    .grve-wpb-1614281379408 .grve-column-wrapper-inner {
        border-top-width: 1px !important;
        border-right-width: 1px !important;
        border-left-width: 1px !important;
    }
}

.grve-wpb-1614281426171 .grve-column-wrapper-inner {
    border-top-width: 1px !important;
    border-left-width: 1px !important;
    padding-top: 20% !important;
    padding-right: 10% !important;
    padding-bottom: 20% !important;
    padding-left: 10% !important;
    border-color: #5b53eb38 !important;
    border-style: solid !important;
}

@media only screen and (max-width:1200px) {
    .grve-wpb-1614281426171 .grve-column-wrapper-inner {
        border-top-width: 1px !important;
        border-right-width: 0px !important;
        border-left-width: 1px !important;
    }
}

@media only screen and (max-width:767px) {
    .grve-wpb-1614281426171 .grve-column-wrapper-inner {
        border-top-width: 1px !important;
        border-right-width: 1px !important;
        border-left-width: 1px !important;
    }
}

.grve-wpb-1614281616813 .grve-column-wrapper-inner {
    border-top-width: 1px !important;
    border-right-width: 1px !important;
    border-left-width: 1px !important;
    padding-top: 20% !important;
    padding-right: 10% !important;
    padding-bottom: 20% !important;
    padding-left: 10% !important;
    border-color: #5b53eb38 !important;
    border-style: solid !important;
}

@media only screen and (max-width:1200px) {
    .grve-wpb-1614281616813 .grve-column-wrapper-inner {
        border-right-width: 0px !important;
    }
}

@media only screen and (max-width:959px) {
    .grve-wpb-1614281616813 .grve-column-wrapper-inner {
        border-right-width: 1px !important;
    }
}

@media only screen and (max-width:767px) {
    .grve-wpb-1614281616813 .grve-column-wrapper-inner {
        border-top-width: 1px !important;
        border-right-width: 1px !important;
        border-left-width: 1px !important;
    }
}

.grve-wpb-1614281643137 .grve-column-wrapper-inner {
    border-top-width: 1px !important;
    border-left-width: 1px !important;
    padding-top: 20% !important;
    padding-right: 10% !important;
    padding-bottom: 20% !important;
    padding-left: 10% !important;
    border-color: #5b53eb38 !important;
    border-style: solid !important;
}

@media only screen and (max-width:1200px) {
    .grve-wpb-1614281643137 .grve-column-wrapper-inner {
        border-right-width: 1px !important;
    }
}

@media only screen and (max-width:959px) {
    .grve-wpb-1614281643137 .grve-column-wrapper-inner {
        border-right-width: 0px !important;
    }
}

@media only screen and (max-width:767px) {
    .grve-wpb-1614281643137 .grve-column-wrapper-inner {
        border-top-width: 1px !important;
        border-right-width: 1px !important;
        border-left-width: 1px !important;
    }
}

.grve-wpb-1614281649227 .grve-column-wrapper-inner {
    border-top-width: 1px !important;
    border-left-width: 1px !important;
    padding-top: 20% !important;
    padding-right: 10% !important;
    padding-bottom: 20% !important;
    padding-left: 10% !important;
    border-color: #5b53eb38 !important;
    border-style: solid !important;
}

@media only screen and (max-width:959px) {
    .grve-wpb-1614281649227 .grve-column-wrapper-inner {
        border-right-width: 1px !important;
    }
}

@media only screen and (max-width:767px) {
    .grve-wpb-1614281649227 .grve-column-wrapper-inner {
        border-top-width: 1px !important;
        border-right-width: 1px !important;
        border-left-width: 1px !important;
    }
}

.grve-wpb-1614281486946 .grve-column-wrapper-inner {
    border-top-width: 1px !important;
    border-left-width: 1px !important;
    padding-top: 20% !important;
    padding-right: 10% !important;
    padding-bottom: 20% !important;
    padding-left: 10% !important;
    border-color: #5b53eb38 !important;
    border-style: solid !important;
}

@media only screen and (max-width:1200px) {
    .grve-wpb-1614281486946 .grve-column-wrapper-inner {
        border-top-width: 1px !important;
        border-right-width: 0px !important;
        border-left-width: 1px !important;
    }
}

@media only screen and (max-width:767px) {
    .grve-wpb-1614281486946 .grve-column-wrapper-inner {
        border-top-width: 1px !important;
        border-right-width: 1px !important;
        border-left-width: 1px !important;
    }
}

.grve-wpb-1614281252608 .grve-column-wrapper-inner {
    border-top-width: 1px !important;
    border-right-width: 1px !important;
    border-left-width: 1px !important;
    padding-top: 20% !important;
    padding-right: 10% !important;
    padding-bottom: 20% !important;
    padding-left: 10% !important;
    border-color: #5b53eb38 !important;
    border-style: solid !important;
}

@media only screen and (max-width:767px) {
    .grve-wpb-1614281252608 .grve-column-wrapper-inner {
        border-top-width: 1px !important;
        border-right-width: 1px !important;
        border-left-width: 1px !important;
    }
}

.grve-wpb-1614281759064 .grve-column-wrapper-inner {
    border-top-width: 1px !important;
    border-bottom-width: 1px !important;
    border-left-width: 1px !important;
    padding-top: 20% !important;
    padding-right: 10% !important;
    padding-bottom: 20% !important;
    padding-left: 10% !important;
    border-color: #5b53eb38 !important;
    border-style: solid !important;
}

@media only screen and (max-width:959px) {
    .grve-wpb-1614281759064 .grve-column-wrapper-inner {
        border-bottom-width: 0px !important;
    }
}

@media only screen and (max-width:767px) {
    .grve-wpb-1614281759064 .grve-column-wrapper-inner {
        border-top-width: 1px !important;
        border-right-width: 1px !important;
        border-left-width: 1px !important;
    }
}

.grve-wpb-1614281752453 .grve-column-wrapper-inner {
    border-top-width: 1px !important;
    border-bottom-width: 1px !important;
    border-left-width: 1px !important;
    padding-top: 20% !important;
    padding-right: 10% !important;
    padding-bottom: 20% !important;
    padding-left: 10% !important;
    border-color: #5b53eb38 !important;
    border-style: solid !important;
}

@media only screen and (max-width:959px) {
    .grve-wpb-1614281752453 .grve-column-wrapper-inner {
        border-right-width: 1px !important;
        border-bottom-width: 0px !important;
    }
}

@media only screen and (max-width:767px) {
    .grve-wpb-1614281752453 .grve-column-wrapper-inner {
        border-top-width: 1px !important;
        border-right-width: 1px !important;
        border-left-width: 1px !important;
    }
}

.grve-wpb-1614281838595 .grve-column-wrapper-inner {
    border-top-width: 1px !important;
    border-bottom-width: 1px !important;
    border-left-width: 1px !important;
    padding-top: 20% !important;
    padding-right: 10% !important;
    padding-bottom: 20% !important;
    padding-left: 10% !important;
    border-color: #5b53eb38 !important;
    border-style: solid !important;
}

@media only screen and (max-width:1200px) {
    .grve-wpb-1614281838595 .grve-column-wrapper-inner {
        border-top-width: 1px !important;
        border-right-width: 1px !important;
        border-left-width: 1px !important;
    }
}

@media only screen and (max-width:959px) {
    .grve-wpb-1614281838595 .grve-column-wrapper-inner {
        border-right-width: 0px !important;
    }
}

@media only screen and (max-width:767px) {
    .grve-wpb-1614281838595 .grve-column-wrapper-inner {
        border-top-width: 1px !important;
        border-right-width: 1px !important;
        border-bottom-width: 0px !important;
        border-left-width: 1px !important;
    }
}

.grve-wpb-1614281277633 .grve-column-wrapper-inner {
    border-top-width: 1px !important;
    border-right-width: 1px !important;
    border-bottom-width: 1px !important;
    border-left-width: 1px !important;
    padding-top: 20% !important;
    padding-right: 10% !important;
    padding-bottom: 20% !important;
    padding-left: 10% !important;
    border-color: #5b53eb38 !important;
    border-style: solid !important;
}

@media only screen and (max-width:767px) {
    .grve-wpb-1614281277633 .grve-column-wrapper-inner {
        border-top-width: 1px !important;
        border-right-width: 1px !important;
        border-left-width: 1px !important;
    }
}

.vc_custom_1614332920795 {
    margin-bottom: 18px !important;
}

.grve-wpb-1615019368081 .grve-column-wrapper {
    padding-top: 6% !important;
    padding-right: 8% !important;
    padding-bottom: 6% !important;
    padding-left: 8% !important;
}

@media only screen and (max-width:767px) {
    .grve-wpb-1615019368081 .grve-column-wrapper {
        padding-right: 25% !important;
    }
}

.grve-wpb-1615019988025 .grve-column-wrapper {
    padding-top: 18% !important;
    padding-right: 10% !important;
    padding-bottom: 18% !important;
    padding-left: 10% !important;
}

.grve-wpb-1614765592273 .grve-column-wrapper-inner {
    padding-top: 15% !important;
    padding-right: 15% !important;
    padding-bottom: 15% !important;
    padding-left: 15% !important;
}

.grve-wpb-1614155559848 .grve-column-wrapper-inner {
    padding-top: 12% !important;
    padding-right: 12% !important;
    padding-bottom: 12% !important;
    padding-left: 12% !important;
}

.grve-wpb-1615019487687 .grve-column-wrapper-inner {
    padding-top: 12% !important;
    padding-right: 12% !important;
    padding-bottom: 12% !important;
    padding-left: 12% !important;
}

.grve-wpb-1614777515939 .grve-column-wrapper-inner {
    padding-top: 12% !important;
    padding-right: 12% !important;
    padding-bottom: 12% !important;
    padding-left: 12% !important;
}

.grve-wpb-1615019756324 .grve-column-wrapper-inner {
    padding-top: 12% !important;
    padding-right: 12% !important;
    padding-bottom: 12% !important;
    padding-left: 12% !important;
}

.grve-wpb-1615019771073 .grve-column-wrapper-inner {
    padding-top: 12% !important;
    padding-right: 12% !important;
    padding-bottom: 12% !important;
    padding-left: 12% !important;
}

.grve-wpb-1633786707899 .grve-column-wrapper-inner {
    padding-top: 10% !important;
    padding-right: 12% !important;
    padding-bottom: 10% !important;
    padding-left: 12% !important;
}

@media only screen and (max-width:1200px) {
    .grve-wpb-1633786707899 .grve-column-wrapper-inner {
        padding-right: 0px !important;
        padding-left: 0px !important;
    }
}

.grve-wpb-1634404805307 .grve-column-wrapper-inner {
    padding-top: 12% !important;
    padding-right: 12% !important;
    padding-bottom: 12% !important;
    padding-left: 12% !important;
}

@media only screen and (max-width:1200px) {
    .grve-wpb-1634404805307 .grve-column-wrapper-inner {
        padding-right: 5% !important;
        padding-left: 5% !important;
    }
}

.grve-wpb-1614768810975 .grve-column-wrapper-inner {
    padding-top: 16% !important;
    padding-right: 12% !important;
    padding-bottom: 16% !important;
    padding-left: 12% !important;
}

.grve-wpb-1614768776735 .grve-column-wrapper-inner {
    padding-top: 16% !important;
    padding-right: 12% !important;
    padding-bottom: 16% !important;
    padding-left: 12% !important;
}

.grve-wpb-1614768672228 .grve-column-wrapper-inner {
    padding-top: 20% !important;
    padding-right: 12% !important;
    padding-bottom: 20% !important;
    padding-left: 12% !important;
}

.grve-wpb-1614768837628 .grve-column-wrapper-inner {
    padding-top: 12% !important;
    padding-right: 12% !important;
    padding-bottom: 12% !important;
    padding-left: 12% !important;
}

.grve-wpb-1614716357567 .grve-column-wrapper-inner {
    padding-top: 50% !important;
    padding-right: 15px !important;
    padding-bottom: 15px !important;
    padding-left: 15px !important;
}

.grve-wpb-1614682231880 .grve-column-wrapper-inner {
    padding-top: 50% !important;
    padding-right: 15px !important;
    padding-bottom: 15px !important;
    padding-left: 15px !important;
}

.grve-wpb-1614682241512 .grve-column-wrapper-inner {
    padding-top: 50% !important;
    padding-right: 15px !important;
    padding-bottom: 15px !important;
    padding-left: 15px !important;
}

.grve-wpb-1614682250020 .grve-column-wrapper-inner {
    padding-top: 50% !important;
    padding-right: 15px !important;
    padding-bottom: 15px !important;
    padding-left: 15px !important;
}

.grve-wpb-1614682258806 .grve-column-wrapper-inner {
    padding-top: 50% !important;
    padding-right: 15px !important;
    padding-bottom: 15px !important;
    padding-left: 15px !important;
}

.grve-wpb-1614682269155 .grve-column-wrapper-inner {
    padding-top: 50% !important;
    padding-right: 15px !important;
    padding-bottom: 15px !important;
    padding-left: 15px !important;
}

.grve-wpb-1614686682819 .grve-column-wrapper-inner {
    border-top-left-radius: 3px !important;
    border-top-right-radius: 3px !important;
    border-bottom-right-radius: 3px !important;
    border-bottom-left-radius: 3px !important;
    padding-top: 12px !important;
    padding-right: 12px !important;
    padding-bottom: 12px !important;
    padding-left: 12px !important;
}

.grve-wpb-1614686725176 .grve-column-wrapper-inner {
    border-top-left-radius: 3px !important;
    border-top-right-radius: 3px !important;
    border-bottom-right-radius: 3px !important;
    border-bottom-left-radius: 3px !important;
    padding-top: 12px !important;
    padding-right: 12px !important;
    padding-bottom: 12px !important;
    padding-left: 12px !important;
}

.grve-wpb-1611172797455 .grve-column-wrapper {
    padding-right: 8% !important;
    padding-left: 8% !important;
}

.grve-wpb-1611172929373 .grve-column-wrapper {
    padding-right: 12% !important;
    padding-left: 12% !important;
}

.grve-wpb-1614679629402 .grve-column-wrapper-inner {
    padding-top: 55% !important;
    padding-right: 30px !important;
    padding-bottom: 30px !important;
    padding-left: 30px !important;
}

.grve-wpb-1614679656376 .grve-column-wrapper-inner {
    padding-top: 55% !important;
    padding-right: 30px !important;
    padding-bottom: 30px !important;
    padding-left: 30px !important;
}

.grve-wpb-1614679679645 .grve-column-wrapper-inner {
    padding-top: 55% !important;
    padding-right: 30px !important;
    padding-bottom: 30px !important;
    padding-left: 30px !important;
}

.grve-wpb-1614679700132 .grve-column-wrapper-inner {
    padding-top: 55% !important;
    padding-right: 30px !important;
    padding-bottom: 30px !important;
    padding-left: 30px !important;
}

#grve-theme-content {
    background-color: #fafafa;
}

@media only screen and (max-width: 767px) {
    .grve-navigation-bar.grve-layout-2 {
        background-color: #fafafa;
    }
}

a,
.grve-link-default a,
.grve-menu-element .grve-arrow,
.grve-link-default .grve-menu-element .grve-arrow {
    color: #000000;
}

a:hover,
.grve-menu-element .grve-arrow:hover {
    color: #5B53EB;
}

#grve-theme-wrapper .grve-link-hover-default a:hover {
    color: #5B53EB;
}

body,
.grve-text-content,
.grve-text-content a,
#grve-content form,
#grve-content form p,
#grve-content form div,
#grve-content form span:not(.grve-heading-color),
.mfp-content form div table,
.grve-content-slider {
    color: #ffffff;
}

#grve-content .widget .grve-widget-title {
    color: #000000;
}

.widget {
    color: #ffffff;
}

.widget a:not(.grve-outline):not(.grve-btn) {
    color: #ffffff;
}

h1,
h2,
h3,
h4,
h5,
h6,
.grve-heading-color,
.grve-heading-hover-color:hover,
p.grve-dropcap:first-letter,
.grve-content-slider .grve-title {
    color: #000000;
}

.grve-svg-heading-color {
    fill: #000000;
}

#grve-main-content .grve-main-content-wrapper,
#grve-sidebar {
    padding-top: 0;
    padding-bottom: 0;
}

@media only screen and (max-width: 1200px) {

    #grve-main-content .grve-main-content-wrapper,
    #grve-sidebar {
        padding-top: 0;
        padding-bottom: 0;
    }
}

@media only screen and (max-width: 768px) {

    #grve-main-content .grve-main-content-wrapper,
    #grve-sidebar {
        padding-top: 0;
        padding-bottom: 0;
    }
}

.compose-mode .vc_element .grve-row {
    margin-top: 30px;
}

.compose-mode .vc_element.vc_vc_column {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.compose-mode .vc_vc_column .wpb_column {
    width: 100% !important;
    margin-bottom: 30px;
    border: 1px dashed rgba(125, 125, 125, 0.4);
}

.compose-mode .vc_controls>.vc_controls-out-tl {
    left: 15px;
}

.compose-mode .vc_controls>.vc_controls-bc {
    bottom: 15px;
}

.compose-mode .vc_welcome .vc_buttons {
    margin-top: 60px;
}

.compose-mode .vc_controls>div {
    z-index: 9;
}

.compose-mode .grve-image img,
.compose-mode .grve-bg-image {
    opacity: 1;
}

.compose-mode #grve-theme-wrapper .grve-section.grve-fullwidth-background,
.compose-mode #grve-theme-wrapper .grve-section.grve-fullwidth-element {
    visibility: visible;
}

.compose-mode .grve-animated-item {
    opacity: 1;
    visibility: visible;
}

.compose-mode .grve-isotope-item-inner {
    opacity: 1 !important;
    transform: none !important;
}

.compose-mode #grve-theme-wrapper .grve-isotope .grve-isotope-container {
    visibility: visible;
}

.compose-mode .grve-clipping-animation,
.compose-mode .grve-clipping-animation .grve-clipping-content,
.compose-mode .grve-appear-animation {
    visibility: visible;
    opacity: 1;
}

.elementor-editor-active .grve-animated-item {
    opacity: 1;
    visibility: visible;
}

.elementor-editor-active .grve-bg-image {
    opacity: 1;
}

.elementor-editor-active .grve-isotope-item-inner {
    opacity: 1 !important;
    transform: none !important;
}

.elementor-editor-active .grve-isotope .grve-isotope-container {
    visibility: visible;
}

.elementor-editor-active .grve-clipping-animation,
.elementor-editor-active .grve-clipping-animation .grve-clipping-content,
.elementor-editor-active .grve-appear-animation {
    visibility: visible;
    opacity: 1;
}

.elementor-editor-active #grve-header {
    z-index: 10;
    pointer-events: none;
}

.elementor-editor-active #grve-theme-content,
.elementor-editor-active #grve-content,
.elementor-editor-active .grve-single-wrapper {
    z-index: auto;
}

.elementor-editor-active .elementor-edit-area .elementor-section:hover:first-child {
    z-index: 100;
}

.elementor-editor-active #grve-frames {
    display: none;
}

.elementor-editor-active.grve-framed {
    margin: 0;
}

.grve-title-section {
    background-color: #f7f7fb;
}